[submodule "online-portfolio"]
	path = online-portfolio
	url = https://github.com/AlexJelani/online-portfolio
[submodule "odin-calculator"]
	path = odin-calculator
	url = https://github.com/AlexJelani/odin-calculator
[submodule "rock-scissors-paper-game"]
	path = rock-scissors-paper-game
	url = https://github.com/AlexJelani/rock-scissors-paper-game
[submodule "math-game"]
	path = math-game
	url = https://github.com/AlexJelani/math-game
[submodule "odin-etch-a-sketch"]
	path = odin-etch-a-sketch
	url = https://github.com/AlexJelani/odin-etch-a-sketch
