[submodule "online-portfolio"]
	path = online-portfolio
	url = https://github.com/AlexJelani/online-portfolio
[submodule "odin-calculator"]
	path = odin-calculator
	url = https://github.com/AlexJelani/odin-calculator
[submodule "rock-scissors-paper-game"]
	path = rock-scissors-paper-game
	url = https://github.com/AlexJelani/rock-scissors-paper-game
